* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Ubuntu Sans", sans-serif;
  max-width: 1100px;
}
.alex {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
  padding: 10px;
}
.header img {
  width: 25%;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.nav-links:hover {
  color: gray;
}

.border-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.nav-menu {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.orange {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 136, 97);
  padding: 10px;
  gap: 10px;
}

.orange h3 {
  font-size: 16px;
  margin: 0;
}

.orange button {
  background-color: #f3f3f3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.ad img {
  width: 100%;
  margin: 20px 0;
}

.footer {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
  }
  .gone {
    display: none;
  }
  .header img {
    width: 70%;
  }

  .border-nav {
    align-items: flex-start;
    font-size: 12px;
  }

  .nav-menu {
    display: none;
  }

  .orange h3 {
    font-size: 14px;
    text-align: center;
  }

  .orange button {
    font-size: 12px;
  }
  .body-text {
    padding-left: 5%;
    padding-right: 5%;
  }
}
